@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap'); 







body
{
background-color: burlywood;    
}
h2
{
color: black;    
}

h1
{
font-family: 'Fascinate', cursive;
font-size:60px    
}

p
{
width:800px;
height:    
}
























